<h1>#FirstWorldProblems</h1>
<div class="main_area">
  <center>
    <textarea rows="8" cols="50" id="problem" placeholder="Your problem here..."></textarea></br>
    <button type="button" class="btn btn-default">Submit</button>
  </center>

  <br/>
  <td><%= link_to 'See other #FirstWorldProblems', method: :show %></td>
</div>