<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @first_world_problem.problem %>
</p>

<%= link_to 'Edit', edit_first_world_problem_path(@first_world_problem) %> |
<%= link_to 'Back', first_world_problems_path %>
