/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
	background-color: #D9E2E1;
	height: 100%;
}


textarea#problem {
	border: none;
	resize: none;
    overflow: auto;
    outline: none;
    padding: 15px 50px 15px 15px;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.input_area {
	padding-bottom: 10px;
}

.btn {
	background-color: #DF9496;
	border-color: #DF9496;
	color: #F6F3EE;
	margin-right: 140px;
	float: right;
}

.main_area {
	background-color: #A2ADBC;
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: auto;
	min-height: 100% !important;
	
	padding-top: 50px;
}

h1 {
	background-color: #DF9496;
	color: #F4F3EE;
	font-family: "Waiting for the Sunrise";	
	padding-left: 25%;
}