<!DOCTYPE html>
<html>
<head>
  <title>FWP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Shadows+Into+Light|Indie+Flower|Poiret+One|Crafty+Girls|Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
